@font-face { font-family: LSTKclabolictineo; src: url('/fonts/LSTKclabolictineo.otf'); }
body {
    height: 100%;
    background: url('/img/header.png') no-repeat;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

.titles {
    padding-top: 8em;
}

.title-strong {
    font: 90px/140px 'LSTKclabolictineo';
}

.sub-title-strong {
    padding: 60px 0 90px 0;
    width: 800px;
    font-size: 30px;
    text-align: left;
    margin:0 auto;
    font: 42px/70px 'LSTKclabolictineo';
    color: #777777;
}

.sub-title {
    padding: 60px 0 90px 0;
    width: 800px;
    text-align: left;
    margin:0 auto;
    font: 15px/20px 'LSTKclabolictineo';
    color: #000000;
}

.happy-word {
    color: #FF9999;
}

.happy-button {
    font: 20px/35px 'LSTKclabolictineo';
    background-color: #FF9999;
    color: #ffffff;
}

.login {
    font: 20px/35px 'LSTKclabolictineo';
    padding-top: 5em;
}

.login-button {
    padding-top: 2em;
}

input.textinput {
    background: none;
    border: 0;
    border-bottom: 1px dashed #EEE;
    width: auto;
    font-size: 1em;
    color: #FF9999;
    font: inherit;
}

.line {
    display:inline-block;
}

.happy-post {
    padding-top: 2em;
}

.post-button {
    padding-top: 2em;
}

#date-selection {
    padding-top: 8em;
}

textarea {
    width: 800px;
    border: 1px dashed #FF9999 ;
}


blockquote {
    padding-top: 2em;
    font: 15px/20px 'LSTKclabolictineo';
}

.red {
    color: red;
}
